day2-ai-note-summarizer.json.json
{
  "name": "Day 2 - AI Note Summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        -160
      ],
      "id": "e493ba8a-0231-4b74-9147-7512dd4952be",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XYY1I7_PuIUT8_pXgPOl4O-v9XBi2mI0L4C67td3UBo",
          "mode": "list",
          "cachedResultName": "AI Notes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XYY1I7_PuIUT8_pXgPOl4O-v9XBi2mI0L4C67td3UBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XYY1I7_PuIUT8_pXgPOl4O-v9XBi2mI0L4C67td3UBo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -160
      ],
      "id": "24ee8d95-b6cf-4261-be1c-84ded502f7c5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wzzRJMvmcUTYCR4E",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this note in one clean sentence:\n\n{{ $json[\"Raw Notes\"] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Summarize this note in one clean sentence:  {{ $json[\"Raw Notes\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        144,
        -160
      ],
      "id": "5b3df6c5-94c6-4aea-b4e8-6659796a29ff",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/auto",
          "mode": "list",
          "cachedResultName": "openrouter/auto"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        112
      ],
      "id": "09dd002d-9029-4d9a-b077-294c6c7366e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wEjQcACItZucjzfU",
          "name": "OpenAI account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XYY1I7_PuIUT8_pXgPOl4O-v9XBi2mI0L4C67td3UBo",
          "mode": "list",
          "cachedResultName": "AI Notes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XYY1I7_PuIUT8_pXgPOl4O-v9XBi2mI0L4C67td3UBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XYY1I7_PuIUT8_pXgPOl4O-v9XBi2mI0L4C67td3UBo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "Raw Notes": "={{ $('Get row(s) in sheet').item.json['Raw Notes'] }}",
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [
            "Raw Notes"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Raw Notes",
              "displayName": "Raw Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        -160
      ],
      "id": "efc48b32-e6c6-4cdb-b533-7a0ffab67c06",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wzzRJMvmcUTYCR4E",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e76f0bc4-b1f2-45a1-b57e-623f431fea2b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "689312e4b0dd7b0647f6f711713fa3f89fa1de1341e1cb49f60cfcd917c66a5b"
  },
  "nodeGroups": [],
  "id": "0VzhSoSZw5ZwbxFT",
  "tags": []
}